<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Sign Up</title>
  <meta name="description" content="">
  <meta name="author" content="Padmanaban, Mine Web Design">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
<div class="row">
  <div class="container">
    <!--<h2 class="title">RESPONSIVE LOGIN TEMPLATE</h2>-->
    <form class="form-signin">
      <!--<h4 class="section-heading"><span>SIGN UP</span></h4>-->
      <div class="row">
        <div class="column">
          <label>FirstName </label>
          <input id="firstname" class="full-width" type="text" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label>LastName </label>
          <input id="lastname" class="full-width" type="text" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label>Email </label>
          <input id="email" class="full-width" type="text" placeholder="">
        </div>
      </div>
       <div class="row">
        <div class="column">
          <label>UserName </label>
          <input id="username" class="full-width" type="text" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label>PhoneNumber </label>
          <input id="phonenumber" class="full-width" type="text" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label>Password </label>
          <input id="password" class="full-width" type="password" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label>Confirm Password </label>
          <input id="confpassword" class="full-width" type="password" placeholder="">
        </div>
      </div>
      <br/>
      <input class="button-submit" type="submit" value="Sign Up">
      
      <div class="row">
        <a href="sign_in" class="forgot">Already Signed up?Sign In</a>
      </div>
    </form>
  </div>
</div>
<!-- Copyrights by Mine Web Design-->
</body>
</html>