{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block navbar %}
<nav>
<a href="{{ url_for('main.admin_mains') }}" class = "btn btn-primary">View All Maintanance Requests</a>
<a href="{{ url_for('main.admin_repairs') }}" class = "btn btn-primary">View All Repair Requests</a>
<a href="{{ url_for('main.admin_users') }}" class = "btn btn-primary">View All Users</a>
<a href="{{ url_for('main.assign') }}" class = "btn btn-primary">Assign Requests</a>

</nav>
{% endblock %}
{% block page_content %}
<div class="container">
  <div class="row">
<div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            All Users
          </h4>
      </div>
<table  class="table table-striped table-bordered table-condensed table-hover" width="647">
  
   
   <thead>
      <tr>
        
         <th>FirstName</th>
         <th>LastName</th>
         <th>Email</th>
         <th>PhoneNumber</th>
         <th>UserName</th>
         <th>Role Id</th>
         <th></th>
         <th></th>
         
      </tr>
   </thead>
 
   <tbody>
       {% for users in users%} 
      <tr>
       
         <td>{{ users.first_name }}</td>
         <td>{{ users.last_name }}</td>
        
         <td>{{ users.email }}</td>
         <td>{{ users.phone_number }}</td>
         <td>{{ users.username }}</td>
         <td>{{ users.role_id }}</td>
         <td><a href="{{ url_for('main.edit_users', username=users.username) }}" class = "btn btn-primary"> Edit</a</td>
         <td><a href="#" class = "btn btn-primary"> Delete</a></td>
         
         
      </tr>
      {% endfor %}
 </tbody>
   
</table>
</div>
</div>
</div>

{% endblock %}