{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  {% block title %}Reset Password{% endblock %}
  <meta name="description" content="">
  <meta name="author" content="Padmanaban, Mine Web Design">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/style.css">

</head>
{% block body %}
<div class="row">
  <div class="container">
    <!--<h2 class="title">Sign In</h2>-->
    <br/>
    <br/>
    <form class="form-signin">
      <!--<h4 class="section-heading"><span>SIGN IN</span></h4>-->
      <div class="row">
        <div class="column">
           {{ wtf.form_field(user_form.email) }}
        </div>
      </div>

      <br/>
      <div class="button-submit">
      {{ wtf.form_field(user_form.submit) }}
    </div>
    </form>
  </div>
</div>
<!-- Copyrights by Mine Web Design-->
{% endblock %}
</html>